.n3tgallery-item {
  text-align: center;
  cursor: move;
}

.n3tgallery-item .n3tgallery-preview {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.n3tgallery-item .n3tgallery-preview img {
  max-height: 100%;
}

.n3tgallery-item .n3tgallery-filename {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
  text-overflow: ellipsis;
}

.n3tgallery-item .btn-group {
  margin-top: 10px;
}
